<p style="color: green"><%= notice %></p>

<h1>Patients</h1>
<%= button_to "New patient", new_patient_path, method: :get %>

<table>
  <thead>
    <tr>
      <th id="patient-name" scope="col">
        <span>Patient name</span>
      </th>
      <th id="patient-gender" scope="col">
        <span>Gender</span>
      </th>
      <th id="patient-birth-date" scope="col">
      <span>Birth date</span>
      </th>
      <th id="patient-acctions" scope="col">
        <span>Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'index_item', collection: @patients, as: :patient %>
  </tbody>
</table>
