<div id="<%= dom_id doctor %>">
  <p>
    <strong>First name:</strong>
    <%= doctor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= doctor.last_name %>
  </p>

  <p>
    <strong>Number of appointments:</strong>
    <%= count = doctor.appointments.count
        count == 0 ? count : (link_to doctor.appointments.count, appointments_path(doctor_id: doctor.id)) %>
  </p>

</div>
