<tr class="doctor">
    <td class="doctor-full-name"><%= doctor.full_name %></td>
    <td class="patient-btns">
        <%= link_to "Show this doctor", doctor, data: { turbo: "false" } %>
    </td>
</tr>
