<h1>New appointment for <%= Patient.find(@patient_id).full_name %></h1>

<%= render "form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Back to appointments", appointments_path %>
</div>
